* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    border-bottom: 1px solid #151515;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

nav ul li {
    padding: 5px 30px;
}

nav ul li a {
    color: #151515;
    text-decoration: none;
}

.button {
    background-color: #151515;
    color: white;
    font-weight: 600;
    outline: none;
    border: 0;
    padding: 10px 20px;
}

.title {
    font-weight: 600;
    padding: 15px 50px;
}

form {
    padding: 15px 50px;
}

.parent-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-50 {
    width: 45%;
}

input, textarea, select {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #151515;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

label {
    width: 100px;
    white-space: nowrap;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.btn-primary {
    background-color: #151515;
    color: white;
    font-weight: 600;
    outline: none;
    border: 0;
    padding: 10px 20px;
    width: 10%;
    cursor: pointer;
}

footer h1 {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 20px 0;
    color: #828282;
    border-top: 1px solid #151515;
}